@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* font-family: 'Open Sans', sans-serif; */

/* HEADER PART */

header{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110vh;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}
.menu .menu_item{
    position: relative;
    z-index: 999;
}
.menu .menu_item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #22454e;
    transition: 0.4s all ease-in-out;
}
.menu .menu_item:hover::after{
    height: 100%;
    bottom: 0;
    z-index: -1;
}
.menu .menu_item::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 5px;
    width: 0;
    background-color: #40afcc;
    transition: 0.4s all ease-in-out;
}
.menu .menu_item:hover::before{
    width: 100%;
    left: 0;
}
.content{

}
.content h1{

color: #fff;
}
.content h1 span{
    
color: #40afcc;
}
.content p{
    color: #fff;
}
.btn-custom{

background: transparent;

border: none;

border: 1px solid #40afcc;

border-bottom-left-radius: 20px;

margin-right: 10px;
}
.btn-custom:hover{
    background-color: #40afcc;
    border: 1px solid #40afcc;
    box-shadow: 0px 1px 13px 2px #40afcc;
}
.btn-custom-one{
    background: transparent;
    border: none;
    border: 1px solid #40afcc;
    border-bottom-right-radius: 20px;
    margin-left: 10px;
}
.btn-custom-one:hover{
    background-color: #40afcc;
    border: 1px solid #40afcc;
    box-shadow: 0px 1px 13px 2px #40afcc;
}
.hg{
    
height: 520px;
    
position: relative;
    
right: 47px;
    
transform: translateX(5px);
}
.social_share{

position: absolute;

right: 0px;

transform: translateX(0px);
}
.social_share ul{

list-style: none;
}
.social_share ul li{
    
border-radius: 50%;
    
color: #fff;
    
height: 30px;
    
width: 30px;
    
line-height: 30px;
    
background: #40afcc;
    
text-align: center;
    
margin-bottom: 10px;
}
.social_share ul li:hover{
    background: transparent;
    border: 1px solid red;
    /* z-index: -1; */
}
.social_share ul p{
    
transform: rotate(-90deg);
    
position: absolute;
    
width: 80px;
    
color: #fff;
    
bottom: -63px;
    
right: -26px;
    
background: transparent;
}
.social_share ul p::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #22454e;
    transition: 0.4s all ease-in-out;
}
.social_share ul p:hover::after{
    
    background-color: #244852;
    height: 100%;
    top: 0;
    z-index: -1;
    
}
.social_share ul p::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 5px;
    width: 0;
    background-color: #40afcc;
    transition: 0.4s all ease-in-out;
}
.social_share ul p:hover::before{
    
    width: 100%;
    left: 0;
    
}

/* HEADER PART */

/* ABOUT_ME PART */

.about_me{

}
.about_me img{
    
margin-top: 120px;
}
.about_me h2{

position: relative;

font-size: 50px;

text-align: center;

font-weight: 900;

/* letter-spacing: -7px; */

text-transform: uppercase;

/* margin-top: 100px; */

padding-top: 15px;

margin-top: 150px;

margin-bottom: 40px;

color: #40afcc;
}
.about_me h2::before{
    content: "welcome";
    position: absolute;
    font-size: 100px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    letter-spacing: -9px;
    padding-top: -23px;
    padding-bottom: -19px;
    /* margin-bottom: 27px; */
    color: #e0e0e0;
}
.about_me p{
    color: #242424;
}
.about_me .extra h2{
    position: relative;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 45px;
}
.about_me .extra h2::before{
    content: "my expertise areas";
    position: absolute;
    color: #e0e0e0;
    font-size: 100px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    letter-spacing: -10px;
    padding-top: -23px;
    width: 100%;
    padding-bottom: -45px;
}


/* ABOUT_ME PART */

/* DEVELOPMENT PART */

.development{

}
.development img{

position: relative;
}
.development img:hover{
    transform: scale(1.1);
  
}
.development p{
    
font-size: 18px;
    
color: #40afcc;
    
font-weight: 700;
    
margin: 20px 0;
    
margin-top: 60px;
}

/* DEVELOPMENT PART */

/* RESUME PART */

.resume{

}
.resume h2{

text-transform: uppercase;

font-size: 50px;

color: #40afcc;

position: relative;

text-align: center;

margin: 100px 0;

padding-top: 15px;

/* z-index: -1; */

font-weight: 700;
}
.resume h2 span{

position: absolute;

font-size: 100px;

font-weight: 900;

top: 0;

left: 50%;

transform: translateX(-50%);

width: 100%;

color: #e0e0e0;

letter-spacing: -10px;


z-index: -1;

}
.resume_div{

margin-top: 50px;
}
.resume_div span{
    
text-transform: uppercase;
    
color: #aaaaaa;
    
font-size: 22px;
}
.resume_box{
}
.second::before{
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    background: #40afcc;
    border-radius: 50%;
    top: 20px;
    left: -9px;
    /* padding-top: 29px; */
    /* transform: translate(0px, -1px); */
}
.first::after{
    content: "";
    width: 2px;
    height: 250%;
    background: #40afcc;
    position: absolute;
    top: 72px;
    left: 0;
    transform: translateX(0px);
}
.first::before{
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    background: #40afcc;
    border-radius: 50%;
    top: 52px;
    left: -9px;
}
.resume_content h5{

text-transform: uppercase;

color: #242424;

font-size: 22px;

margin: 15px 0;
}
.resume_content h6{

color: #242424;

font-size: 18px;
}
.resume_content p{

color: #242424;

font-size: 16px;
}
.resume_box:hover .resume_content{
    padding-left: 20px;
    background-image: url(../images/shape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-bottom: 40px; */
    box-shadow: 0px 0px 5px 1px #40afcc;
}
.resume_box:hover .resume_content .date{
    color: #40afcc;
    border: 1px solid #40afcc;
}
.resume_box:hover .resume_content h5{
    color: #40afcc;
}
.resume_box:hover::before{
    background: #fff;
    box-shadow: inset 0px 0px 2px 2px #40afcc;
}
.first:hover::before{
    background: #fff;
    box-shadow: inset 0px 0px 2px 2px #40afcc;
}
.resume_content{
    /* margin-bottom: 70px; */
}
.date{

border: 1px solid black;

display: inline-block;

padding: 5px 10px;

border-bottom-right-radius: 20px;

margin-top: 20px;
}


/* RESUME PART */

/* WORKS PART */


.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}



/* WORKS PART */